/* || GENERAL CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 100vh;
  background-color: #19a1ae;
  font-family: Kumbh Sans;
}

/* || Background pictures */

.top-background-mobile {
  position: absolute;

  left: 0;
  top: 0;
}
.bottom-background-mobile {
  position: absolute;

  right: 0;
  bottom: 0;
}

/* || MAIN CSS */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  width: 32.6rem;
  border-radius: 1.5rem;
  background: #fff;
  box-shadow: 0 5rem 10rem -2rem rgba(8, 70, 94, 0.5);
  z-index: 1;
}

.card__cover {
  margin-bottom: 7.2rem;
  width: 100%;
}

.card__img {
  position: absolute;
  border-radius: 9.6rem;
  border: 0.5rem solid #fff;
  top: 9rem;
}

.card__details-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.3rem;
}

.card__details-box-name {
  margin-right: 0.85rem;
  color: #2e3349;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card__details-box-age {
  color: #6b7082;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__details-box-city {
  color: #6b7082;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2.8rem;
}

.card__line {
  background: #e8e9ec;
  width: 32.6rem;
  height: 0.1rem;
  margin-bottom: 2.4rem;
}

.card__stat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.card__stat-items {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card__stat-num {
  margin-bottom: 0.9rem;
  color: #2e3349;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card__stat-text {
  margin-bottom: 2.7rem;
  color: #6b7082;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15rem;
}

/* || MEDIA QUERIES */

@media only screen and (min-width: 375px) {
  .card {
    width: 35rem;
  }

  .card__line {
    width: 35rem;
  }
}
