* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 100vh;
  background-color: #19a1ae;
  font-family: Kumbh Sans;
}

/* Background pictures */
.top-background-pattern {
  position: absolute;

  left: 0;
  top: 0;
}
.bottom-background-pattern {
  position: absolute;

  right: 0;
  bottom: 0;
}

/* Main section */
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  width: 350px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.5);
  z-index: 1;
}

.profile-cover {
  margin-bottom: 72px;
}

.profile-img {
  position: absolute;
  border-radius: 96px;
  border: 5px solid #fff;
  top: 90px;
}

.name-age {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

.profile-name {
  margin-right: 8.5px;
  color: #2e3349;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile-age {
  color: #6b7082;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile-city {
  color: #6b7082;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
}

.line {
  background: #e8e9ec;
  width: 350px;
  height: 1px;
  margin-bottom: 24px;
}

.profile-stat-num {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 9px;
  width: 234.5px;
  color: #2e3349;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile-stat-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 27px;
  width: 246px;
  color: #6b7082;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}
